.bonus
  .bonus__overlay.opacity-overlay
    .bonus__firstWin.hide
      picture.bonus__overlay-woman
        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman-popup-desc.png")
        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-popup-desc.png")
        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-popup-mob.png")
        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-popup-mob.png")
        img(src="img/woman-popup-desc.png" alt="Favbet")
      .bonus__firstWin-info
        .bonus__firstWin-salut
          .bonus__firstWin-salut-one
          .bonus__firstWin-salut-two
          .bonus__firstWin-salut-three
          .bonus__firstWin-salut-fourth
          .bonus__firstWin-salut-five
        .bonus__firstWin-prize
          .bonus__firstWin-txt Ai câștigat
          .bonus__firstWin-win 1000 lei
        .bonus__firstWin-btn
          span Mai învârte
        .bonus__firstWin-foot Mai ai o încercare
    .bonus__secondWin.hide
      picture.bonus__overlay-woman
        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman-popup-desc.png")
        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-popup-desc.png")
        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-popup-mob.png")
        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-popup-mob.png")
        img(src="img/woman-popup-desc.png" alt="Favbet")
      .bonus__secondWin-info
        .bonus__secondWin-salut
          .bonus__secondWin-salut-one
          .bonus__secondWin-salut-two
          .bonus__secondWin-salut-three
          .bonus__secondWin-salut-fourth
          .bonus__secondWin-salut-five
        .bonus__secondWin-prize
          .bonus__secondWin-txt Ai câștigat
          .bonus__secondWin-win BONUS 100% #[br] PÂNĂ LA 1000 LEI
        a(href="https://www.favbet.ro/ro/register/").bonus__secondWin-btn
          span Acceptă Bonusul
  .bonus__main
    .bonus__main-logo
    .bonus__main-txt Învârte roata -#[br] câștigă #[span un #[span bonus] #[br] de bun venit]
    .bonus__main-wrapper
      .bonus__main-man
        .bonus__main-man-txt Bun venit în FAVBET CITY
        picture
          source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/man-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/man-tab.png")
          img(src="img/man-desc.png" alt="Favbet")
      .bonus__main-wheel
        .bonus__main-wheel-wrap
          .bonus__main-wheel-arrow.position
          .bonus__main-wheel-btn-bottom.position
          .bonus__main-wheel-btn.position.pulse-btn
          .bonus__main-wheel-bulbs.position
          .bonus__main-wheel-frame
          .bonus__main-wheel-reel.position
          .bonus__main-wheel-light.position
          .bonus__main-wheel-bottom.position
      .bonus__main-woman
        .bonus__main-woman-txt Vrei un Bonus? Ai 2 încercări
        picture
          source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman.png")
          source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-tab.png")
          source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-mob.png")
          source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-mob.png")
          img(src="img/woman.png" alt="Favbet")
    .bonus__footer
      .bonus__footer-copy
        img(src='img/footer-copy.svg' alt='copyright')
      .bonus__footer-text L1200662W001197. #[br] Se aplică T&C
    .bonus__music
      img(src='img/music-off.svg' alt='sounds')
    .bonus__salut
      .bonus__salut-one
      .bonus__salut-two
      .bonus__salut-three
      .bonus__salut-fourth
  audio(src='sounds/music.mp3' loop).audio


